body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.title {
    margin: 20px 0;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 650px) {


    .card img {

        width: 200px;
        height: 200px;
    }


    .card{
        width: 80%;
    }

    h2
    {
        font-size: 30px;
        padding: 0px 100px;
     
    }

    h3{

        font-size:30px;
    }

    p
    {
        font-size: 20px;
    }

    .team-container {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

   
}
